{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["fastapi", "uvicorn", "pydantic", "openai"], "state": 2, "file_id": 38, "knowledge_revision": 154, "git_revision": "", "hash": "a91431d661fe7ca1f8cc75e48e637e8e", "format-version": 4, "code-base-name": "default", "filename": "ai_backend/requirements.txt", "revision_history": [{"154": ""}]}